.card {
    border-radius: 10px;
}

img {
    max-height: 140px;
    object-fit: cover;
	object-position: center;
    border-radius: 20px;
}

b {
    font-size: x-large;
}

@media only screen and (max-width: 992px) {
    img {
        max-height: 270px;
    }

    nav .brand-logo {
        font-size: 16pt;
    }
}
